<!DOCTYPE html>

<body>
    <div>
        <div class="pb">
            <img src="https://discordapp.com/assets/322c936a8c8be1b803cd94861bdfa868.png">
        </div>
        <div class="name">
            <%=user%>
        </div>
    </div>
</body>
<style>
    body {
        background-color: #292c2e;
    }
    .pb {
        text-align: center;
        margin-top: 250px;
    }
    .name {
        text-align: center;
        font-size: 80px;
        color: white;
    }
</style>